{% extends "layout.html" %}
{% block title %}전적 검색{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
<div class="container" style="height:720px;">
	<div class="row mt-5">
		<div class="col-md-6 mx-auto mt-5">
			<form class="form-inline" action="{{ url_for('pubg.search') }}" method="POST">
				<div class="input-group col-md-12 mt-5">
					<input type="text" name="search_word" class="form-control rounded-0" placeholder="닉네임을 입력하세요">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-info rounded-0"><i class="fas fa-search"></i></button>
					</span>                  
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
