{% extends "layout.html" %}
{% block title %}전적 검색{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
<div class="row">
	{% if not results %}
	<!-- player not found -->
	<div class="col-md-6 mx-auto">
		<h3 class="mt-5">
			"{{ query }}" 플레이어를 찾을 수 없습니다.
		</h3>
		<form action="{{ url_for('pubg.search') }}" method="POST">
			<div class="input-group col-md-12 mt-5">
				<input type="text" name="search_word" class="form-control rounded-0" placeholder="닉네임을 입력하세요">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-info rounded-0"><i class="fas fa-search"></i></button>
				</span>                  
			</div>
		</form>
	</div>
	{% else %}
	<!-- player found -->
	<!-- search results -->
	<table id="search-table" class="table table-hover mx-auto mt-5">
		<!-- results headers -->
		<thead class="thead-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">지역</th>
				<th scope="col">플레이어</th>
				<th scope="col">솔로</th>
				<th scope="col">듀오</th>
				<th scope="col">스쿼드</th>
			</tr>
		</thead>
		<!-- end of results headers -->
		<!-- table body -->
		<tbody>
			{% for player in results %}
			<!-- player data -->
			<tr>
				<td>{{ loop.index }}</th>
				<td>{{ player.region }}</td>
				<td>
					<a href="{{ url_for('pubg.show_profile', player_name=player.name, region=player.region) }}" class="btn btn-dark">
						<i class="fas fa-user"></i> {{ player.name }}
					</a>
				</td>
				<td>{{ player.solo[-1].game }} 게임</td>
				<td>{{ player.duo[-1].game }} 게임</td>
				<td>{{ player.squad[-1].game }} 게임</td>
			</tr>
			<!-- end of player data -->
			{% endfor %}
		</tbody>
		<!-- end of table body -->
	</table>
	<!-- end of search results -->
	{% endif %}
</div>

{% endblock %}
