* {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none !important;  
}

body {
	background-color: #f2f2f2;
}

a:hover {
    text-decoration: none;    
}

td.valign-middle {
    vertical-align : middle;
}

th {
    text-align : center;
}

td {
    text-align: center;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.nav-item {
    
    padding: 0 10px;
}

.pills-dark > li {
    padding : 0;
}
.pills-dark > li > a {
    padding : 15px 25px;
}

.pills-dark > li > a:hover {
    background-color : black;
}

.pills-dark > li > .nav-link.active {
    background-color : black;
    border-radius : 0;
}

.pills-dark > li > a {
    color : white;
}

/* Card */
.card-header {
    border-radius: 0;
}
.card-body {
    border-radius : 0;
}

.p-stats {
	margin-bottom: 0;
	display: inline-block;
	float: right;
}

.small-top-percentile {
	display: block;
	font-size: 70% !important;
	color: #808080 !important;
}

.list-group {
    border-radius : 0;
}
.list-group-item {
    border-radius : 0;
}

/* Update button */
#updating-button {
	display: none;
}

.loading {
	width: 12px;
	height: 12px;
}

/* Search */

input { 
    padding-top: 12.5px !important;
	padding-bottom: 12.5px !important;
}
.input-group-btn > .btn {
	margin: auto 0;
    padding-top: 16px !important;
	padding-bottom: 16px !important;
}

/* Map */

.map_overall {
    border: 5px solid #000000;
    background: #DCDCDC;
}