{% macro render_pagination(pagination, player) %}
<nav>
    <ul class="pagination justify-content-center">
        {% if pagination.has_prev %}
            <li class="page-item"><a class="page-link" href="{{ url_for_other_page(page=pagination.page - 1, player_name=player.name, region=player.region) }}">&laquo; Prev</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo; 이전</span></li>
        {% endif %}
        {%- for page in pagination.iter_pages() %}
            {% if page %}
                {% if page != pagination.page %}
                    <li class="page-item"><a class="page-link" href="{{ url_for_other_page(page=page, player_name=player.name, region=player.region) }}">{{ page }}</a></li>
                {% else %}
                    <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
                {% endif %}
            {% else %}
                <li class="page-item"><span class="page-link">…</span></li>
            {% endif %}
        {%- endfor %}
        {% if pagination.has_next %}
            <li class="page-item"><a class="page-link" href="{{ url_for_other_page(page=pagination.page + 1, player_name=player.name, region=player.region) }}">다음 &raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Next &raquo;</span></li>
        {% endif %}
    </ul>
</nav>
{% endmacro %}
