{% extends "layout.html" %}
{% block title %}도움말{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
<div class="container mt-5 pt-5">
    <div class="text-center pb-5 border-bottom border-light">
      <h1 class="help-heading display-3"><strong>PUBGI</strong></h1>
      <h2 class="text-muted"><small>All about PUBG</small></h2>
    </div>
</div>
<div class="help-content my-5">
    <div class="container">
        <!-- first card -->
        <div class="card mb-3 text-center">
          <div class="card-body">
              <!--Grid row-->
              <div class="row">

                  <!--Grid column-->
                  <div class="col-md-4 offset-md-1 mx-3">
                      <div class="overlay my-3">
                      <!--Featured image-->
                          <img src="../static/img/leaderboard.png"  style="height:12rem" class="img-fluid" alt="leaderboard image">
                    </div>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-md-7 text-left ml-3 mt-3 my-auto">
                      <!--Excerpt-->
                    <h4 class="mb-4 align-middle"><strong>Beta v.0.1 업데이트</strong></a></h4>
                      <p class="align-middle">리더보드 서비스 개시, 맵 서비스 프레임 구축, 외국 사용자의 타임존 동기화</p>
                  </div>
                  <!--Grid column-->
              </div>
              <!--Grid row-->
          </div>
        </div>
        <!--first card end-->
</div>
{% endblock %}