{% extends "layout.html" %}
{% block title %}도움말{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
<div class="container mt-5 pt-5">
    <div class="text-center pb-5 border-bottom border-light">
        <h1 class="help-heading display-3"><strong>PUBGI</strong></h1>
        <h2 class="text-muted"><small>All about PUBG</small></h2>
    </div>
</div>
<div class="help-content my-5">
    <div class="container">
        <!-- card 1 -->
        <div class="card mb-3 text-center">
            <div class="card-body">
                <!-- grid row -->
                <div class="row">
                    <!-- grid column -->
                    <div class="col-md-4 offset-md-1 mx-3">
                        <div class="overlay my-3">
                        <!-- featured image -->
                            <img src="../static/img/beta_2_update.png"  style="height:12rem" class="img-fluid" alt="leaderboard image">
                        </div>
                    </div>
                    <!-- end of grid column -->
                    <!-- grid column -->
                    <div class="col-md-7 text-left ml-3 mt-3 my-auto">
                        <!-- excerpt -->
                        <h4 class="mb-4 align-middle"><strong>Beta v.0.2 업데이트</strong></a></h4>
                        <p class="align-middle">리더보드 지역/모드 표시, 맵 서비스 버그 개선, 지역 검색 추가</p>
                        <!-- end of excerpt -->
                    </div>
                    <!-- end of grid column -->
                </div>
                <!-- end of grid row -->
            </div>
        </div>
        <!-- end of card 1 -->
        <!-- card 2 -->
        <div class="card mb-3 text-center">
            <div class="card-body">
                <!-- grid row -->
                <div class="row">
                    <!-- grid column -->
                    <div class="col-md-4 offset-md-1 mx-3">
                        <div class="overlay my-3">
                            <!-- featured image -->
                            <img src="../static/img/beta_1_update.png"  style="height:12rem" class="img-fluid" alt="leaderboard image">
                        </div>
                    </div>
                    <!-- end of grid column -->
                    <!-- grid column -->
                    <div class="col-md-7 text-left ml-3 mt-3 my-auto">
                        <!-- excerpt -->
                        <h4 class="mb-4 align-middle"><strong>Beta v.0.1 업데이트</strong></a></h4>
                        <p class="align-middle">리더보드 서비스 개시, 맵 서비스 개시, 외국 사용자의 타임존 동기화</p>
                        <!-- end of excerpt -->
                    </div>
                    <!-- end of grid column -->
                </div>
                <!-- end of grid row -->
            </div>
        </div>
        <!-- end of card 2 -->
</div>
{% endblock %}