{% extends "layout.html" %}
{% block title %}도움말{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
<div class="container mt-5 pt-5">
    <div class="text-center pb-5 border-bottom border-light">
        <h1 class="help-heading display-3"><strong>PUB.GG</strong></h1>
        <h2 class="text-muted"><small>where we play PUBG drunken</small></h2>
    </div>
</div>
<div class="help-content my-5">
    <div class="container">
        <!-- first card -->
        <div class="card mb-3 text-center">
            <div class="card-body">
                <!--grid row-->
                <div class="row">
                    <!--grid column-->
                    <div class="col-md-4 offset-md-1 mx-3 my-3">
                        <!--featured image-->
                        <div class="view overlay">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/e/ea/MA_Route_123.svg" class="img-fluid" alt="">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                    </div>
                    <!--grid column-->

                    <!--grid column-->
                    <div class="col-md-7 text-left ml-3 mt-3 my-auto">
                        <!--Excerpt-->
                        <h4 class="mb-4 align-middle"><a href=""><a><strong>전적 검색</strong></a></h4>
                        <p class="align-middle">전적검색</p>
                    </div>
                    <!--grid column-->
                </div>
                <!--grid row-->
            </div>
        </div>
        <!--end of first card-->
    </div>
</div>
{% endblock %}