{% extends "layout.html" %}
{% block title %}전적 검색{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
<div class="container" style="height:720px;">
    <div class="row mt-5">
        <div class="col-md-6 mt-5 mx-auto">
            <form class="form-inline mt-5" action="{{ url_for('pubgi.search') }}" method="POST">
                <div class="input-group col-md-12 white px-0 mt-5">
                    <input type="text" name="search_word" class="form-control border-0" placeholder="닉네임을 입력하세요">
                    <span class="my-auto mx-2">
                        <select name="region" class="border border-light">
                            <option value="pc-krjp">KR</option>
                            <option value="pc-as">AS</option>
                            <option value="pc-jp">JP</option>
                            <option value="pc-kakao">KAKAO</option>
                            <option value="pc-na">NA</option>
                            <option value="pc-sa">SA</option>
                            <option value="pc-eu">EU</option>
                            <option value="pc-oc">OC</option>
                            <option value="pc-sea">SEA</option>
                            <option value="pc-ru">RU</option>
                        </select>
                    </span>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info rounded-0"><i class="fas fa-search"></i></button>
                    </span>                  
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
