{% extends "layout.html" %}
{% block title %}준비중입니다!{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
<div class="text-center container my-5 py-5">
    <div class="row justify-content-center py-5">
        <div class="col-md-auto">
            <img src="{{ url_for('static', filename='img/under_construction.png') }}">  <!-- *********************Upload finished************************ -->
        </div>
        <div class="col-md-auto">
            <h1><strong>Under Construction</strong></h1>
            <h3>빨리 준비할게요!</h3>
        </div>
    </div>
</div>
{% endblock %}