{% extends "layout.html" %}
{% block head %}{{ super() }}
{% endblock %}
{% block content %}

<!-- player profile -->
<div id="profile" class="row mt-5">
    <div class="row col-md-12">
        <h3 class="mx-2 my-auto">
            <strong>{{ player.name }}</strong>
        </h3>
        {% if player.update_time | recently_updated %}
        <a class="btn btn-danger mx-1 my-auto" type="button" href="#">
            <i class="fas fa-check"></i> 갱신 완료
        </a>
        {% else %}
        <a id="update-button" class="btn btn-primary mx-1 my-auto" type="button" href="javascript:update({{ player.id }});">
            <i class="fas fa-sync-alt"></i> 전적 갱신
        </a>
        <a id="updating-button" class="btn btn-primary mx-1 my-auto" type="button" href="#">
            <img src="{{ url_for('static',filename='img/loading.gif') }}" class="loading"></img> 갱신 중
        </a>
        {% endif %}
  <small id="update-time" class="text-muted mx-1 my-auto"><script>document.write(moment({{ player.update_time | tojson }}).format('YYYY-MM-DD HH:mm') + " 에 갱신")</script></small>
    </div>
    <div class="row col-md-12 mt-3">
        <div class="btn-group" role="group" aria-label="Player information">
            <button type="button" class="btn btn-primary">지역: {{ player.region }}</button>
            <button type="button" class="btn btn-danger">솔로: {{ player.solo[-1].game }} 경기</button>
            <button type="button" class="btn btn-warning">듀오: {{ player.duo[-1].game }} 경기</button>
            <button type="button" class="btn btn-info">스쿼드: {{ player.squad[-1].game }} 경기</button>
        </div>
    </div>
</div>
<!-- end of player profile -->
<!-- secondary navbar -->
<div id="small-navbar" class="row mt-2">
    <div class="col-md-12 mx-0 p-0">
        <ul class="nav nav-pills bg-dark pills-dark w-100">
            <li class="nav-item">
                <a id="link-overview" class="nav-link pill-link active" href="{{ url_for('pubgi.show_profile', player_name=player.name, region=player.region) }}">
                    개요
                </a>
            </li>
            <li class="nav-item">
                <a id="link-analysis" class="nav-link pill-link" href="{{ url_for('pubgi.show_stats', player_name=player.name, region=player.region) }}">
                    상세 분석
                </a>
            </li>
            <li class="nav-item">
                <a id="link-matches" class="nav-link pill-link" href="{{ url_for('pubgi.show_match_history', player_name=player.name, region=player.region) }}">
                    경기 기록
                </a>
            </li>
            <!-- season dropdown -->
            <li class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle" href="#" id="seasonDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    시즌 5
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="seasonDropdown">
                    <a class="dropdown-item" href="#">시즌 5</a>
                </div>
            </li>
            </ul>
            <!-- end of season dropdown -->
        </ul>
    </div>
</div>
<!-- end of secondary navbar -->
<!-- main content -->
{% block main_content %}{% endblock %}
<!-- end of main content -->
<script type="text/javascript">
    $(document).ready(function() { 
        // Pill selection
        var page = $("#pill-label").attr("data-name");
        $(".pill-link").removeClass("active");
        $("a[id='"+page+"']").addClass("active");
    });

    function update(player_id, name, region) {
        $("#update-button").hide();
        $("#updating-button").show();
        
        $.ajax({
        	url         : '/profile/{{ player.id }}/update'
           ,type        : 'GET'
           ,cache       : false
           ,contentType : 'application/json; charset=utf-8'
           ,dataType : 'json'
           ,success     : function(data) {
        	   if (data.result) {
                   bootbox.alert("전적이 업데이트 되었습니다.", function() {
                       $(location).attr('href',"{{ url_for('pubgi.show_profile', player_name=player.name, region=player.region) }}");
                   });
        	   } else {
                   bootbox.alert("업데이트에 실패하였습니다. 잠시 후 다시 시도해주세요.", function() {
                       $(location).attr('href',"{{ url_for('pubgi.show_profile', player_name=player.name, region=player.region) }}");
                   });
        	   }
             }
           ,error: function(result) {
                   bootbox.alert("서버에 문제가 발생했습니다. 잠시 후 다시 시도해주세요.", function() {
                       $(location).attr('href',"{{ url_for('pubgi.show_profile', player_name=player.name, region=player.region) }}");
                   });
             }
        });
    }
</script>
{% endblock %}
